@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --primary-color: #E5E5E5;
    --secondary-color: #D9D9D9;
    --primary-dark-color:  #4F4F4F;
    --secondary-dark-color: #999;

    --btn-color:#1A5DB4;

    --sidebar-color:#708090;
    --sidebar-dark-color:#333;

    --font-inter: 'Inter', sans-serif;
    --font-roboto-slab: 'Roboto Slab', serif;
    --box-sizing: border-box;
    
    --body-text-color: #585050; /* Default text color in body  */
    --side-text-color: #FFF; /* Default text color in sidebars  */
    /* background-color: var(--primary-color); */
    
   }
  
   p{
    margin: 0;  
   }
   input{
    color: var(--body-text-color);
   }
 img {
    box-sizing: var(--box-sizing);
     }

body {
    /* font-family: var(--font-inter); */
    /* background-color: var(--primary-color); */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    color: var(--body-text-color);
    
}


body::-webkit-scrollbar {
    display: none;
    color: var(--body-text-color);
}
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.roboto{
    font-family:var(--font-roboto-slab) !important;
}
.inter{
    font-family: var(--font-inter)  !important;
}


.mybtn{
    background-color: var(--btn-color);
    width: 63px;
    border: none;
    border-radius: 12px;
    color: #fff;
}



.logo{
    width: 107px;
    height: 30px;
}


.profile-pic{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 100%;

}

@media (min-width:768px){
.phone{
    display: none !important;
    }
}
@media (max-width:768px){
.pc{
    display: none !important;
    }
}
@media (min-width:768px) and (max-width:1024px) {
.tablet{
    display: block !important;
    }
}


.Trend-Restaurant::-webkit-scrollbar {
    display: none;
    color: var(--body-text-color);
}
.dark .placeholder-white-important::placeholder {
    color: white !important;

    opacity: 70%;
    /* z-index: 0; */
  }
  @media (min-width:1536px){
    .main-content {
      margin-left: 21rem;
      margin-right: 21rem;
      width: 58rem !important;

    }
  }
  @media (min-width:1729px){
    .main-content {
      margin-left: 23rem;
      margin-right: 23rem;
      width: 58rem !important;
    }
  }
  .Hiddenbackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Semi-transparent black */
    
    z-index: 198 !important; /* Ensure it's below the modal */
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(8px); /* Blur effect */
    z-index: 900 !important; /* Ensure it's below the modal */
  }
  .model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000 !important; /* Ensure it's below the modal */
  }
@media (max-width:768px){
  .model{
    width: 80%;
  }
}
@media (max-width:1024px) and (min-width:768px) {
  .model{
    width: 60%;
    transform: translate(-35%, -50%);
  }
}

.v-toast__item--error{
  background-color: #9732a6 ;
  color: #fff;
 
}
.v-toast__item .v-toast__text{
  padding: 10px !important;
}
.v-toast__item {
  opacity: 1;
  min-height: 1em !important;
  width: fit-content !important;
 
  
}
  .test{
    animation: none;
    /* background-color: transparent !important; 
    border: 1px solid red !important;*/
  }
  .v-toast {
    position: fixed;
    display: flex;
    top: 0 !important;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
      padding-top: 2em;
      padding-right: 1em !important;
      padding-bottom: 1em !important;
      padding-left: 2em;
    overflow: hidden;
    z-index: 10090 !important;
    pointer-events: none;
  }
