@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --primary-color: #E5E5E5;
    --secondary-color: #D9D9D9;
    --primary-dark-color:  #4F4F4F;
    --secondary-dark-color: #999;

    --btn-color:#1A5DB4;

    --sidebar-color:#708090;
    --sidebar-dark-color:#333;

    --font-inter: 'Inter', sans-serif;
    --font-roboto-slab: 'Roboto Slab', serif;
    --box-sizing: border-box;
    
    --body-text-color: #585050; /* Default text color in body  */
    --side-text-color: #FFF; /* Default text color in sidebars  */
    /* background-color: var(--primary-color); */
    
   }
  
   p{
    margin: 0;  
   }
   input{
    color: var(--body-text-color);
   }
 img {
    box-sizing: var(--box-sizing);
     }

body {
    /* font-family: var(--font-inter); */
    /* background-color: var(--primary-color); */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    color: var(--body-text-color);
    
}


body::-webkit-scrollbar {
    display: none;
    color: var(--body-text-color);
}
.roboto{
    font-family:var(--font-roboto-slab) !important;
}
.inter{
    font-family: var(--font-inter)  !important;
}


.mybtn{
    background-color: var(--btn-color);
    width: 63px;
    border: none;
    border-radius: 12px;
    color: #fff;
}



.logo{
    width: 107px;
    height: 30px;
}


.profile-pic{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 100%;

}

@media (min-width:768px){
.phone{
    display: none !important;
    }
}
@media (max-width:768px){
.pc{
    display: none !important;
    }
}
@media (min-width:768px) and (max-width:1024px) {
.tablet{
    display: block !important;
    }
}


.Trend-Restaurant::-webkit-scrollbar {
    display: none;
    color: var(--body-text-color);
}